[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"fastapi[all]"="*"
psycopg="*"
Jinja2="*"
requests="*"

[dev-packages]
black="*"
isort="*"
flake8="*"
mypy="*"
"uvicorn[standard]"="*"

[requires]
python_version = "3.9"
