/* common */
div.container {
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

/* navbar */
div.header-brand {
  background-color: #ffffff;
  padding: 0em 3em;
  overflow: hidden;
  text-align: center
}

div.brand {
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 40px;
  font-weight: bold;
  color: #303030;
  text-shadow: 0 3px 8px #afafaf;
  text-decoration: none;
}

ul.header-nav {
  background-color: #606060;
  color: #ffffff;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.nav li.menu {
  float: left;
}

ul.nav li.menu-right {
  float: right;
}

ul.nav li.menu a {
  display: block;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 14px 16px;
  line-height: 10px;
}

ul.nav li.menu a:hover,
ul.nav li.menu a:active {
  background-color: #202020;
}

/* preference */
div.preference-upper {
  padding: 8px 8px;
  background-color: #e0e0e0;
}

div.preference-upper input.aojid {
  height: 36px;
  padding: 3px 6px;
  border-radius: .25rem;
}

div.preference-upper input.aojid {
  height: 36px;
  padding: 3px 6px;
  border-radius: .25rem;
}

div.preference-upper button.contest-type-switcher {
  cursor: pointer;
  color: #ffffff;
  background-color: #909090;
  border-color: #909090;
}

/* local ranking */
table.local-ranking {
    border-collapse: collapse;
    width: 100%;
}

table.local-ranking th, table.local-ranking td {
    border: 1px solid #888888;
}

table.local-ranking, table.local-ranking th, table.local-ranking td {
    font-size: 1.0em;
    text-align: center;
    padding: 4px 2px 4px 2px
}

/* problem table */
table.problem-table {
    border-collapse: collapse;
    width: 100%;
}

table.problem-table th, table.problem-table td {
    border: 1px solid #888888;
}

table.problem-table th, table.problem-table td {
    font-size: 1em;
    padding: 4px 7px 4px 7px;
}

table.problem-table th {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    background-color: #505050;
    color: #eeeeee;
}

table.problem-table td {
    color: #111111;
}

table.problem-table tr.solved {
    background-color: #dff0d8;
}

table.problem-table tr.not-archived {
    background-color: #bbbbbb;
}

table.problem-table tr.rivals-only {
    background-color: #ffcccc;
}

table.problem-table td.separator {
    background-color: #ffffff;
    height: 6px;
    border-left: none;
    border-right: none;
}
