/* common */
body {
  margin: 0;
  padding: 0;
}

div.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 85%;
  z-index: 0;
}

/* navbar */

nav.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  height: 3rem;
  padding: 0 20px;
  z-index: 2;
}

div.brand a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
}

div.brand div.lines-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.brand div.lines-container div.line {
  width: calc(100% / 3);
  height: 3px;
  background-color: #4C83C3;
  margin: 0 2px;
}

div.brand div.lines-container div.line:nth-child(2) {
  background-color: #FDBA12;
}

div.brand div.lines-container div.line:nth-child(3) {
  background-color: #B22C1B;
}

ul.nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: auto;
}

ul.nav li.menu {
  margin-right: 1.5rem;
}

ul.nav li.menu:last-child {
  margin-right: 0;
}

ul.nav li.menu a {
  text-decoration: none;
}

nav.navbar .nav a {
  text-decoration: none;
  color: #bbb;
}

nav.navbar .nav a:hover,
nav.navbar .nav a:active {
  color: #ddd;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* preference */
div.preference {
  position: sticky;
  top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefe;
  color: #000;
  height: 2.5rem;
  padding: 0 0px;
  border-bottom-width: 1px;
  border-bottom-color: #eee;
  border-bottom-style: solid;
  z-index: 1;
}

div.preference ul.nav-preference {
  padding-left: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: auto;
}

div.preference ul.nav-preference li.menu {
  margin-right: 1rem;
}

div.preference ul.nav-preference li.menu:last-child {
  margin-right: 0;
}

div.preference input.aojid {
  height: 1.2rem;
  padding: 3px 6px;
  border-radius: .25rem;
}

div.button-container {
  display: flex;
  gap: 0px;
}

div.preference button.contest-type-switcher {
  margin-left: 0;
  display: inline-block;
  padding: 1px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border: 0px;
  background-color: #666;
  height: 2rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}

div.preference button.selected {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #999;
}

div.preference button.contest-type-switcher:hover {
  background-color: #aaa;
}

div.preference button.contest-type-switcher:active {
  border-color: #bbb;
  border: 1px solid;
}

/* local ranking */
table.local-ranking {
    border-collapse: collapse;
    width: 100%;
}

table.local-ranking th, table.local-ranking td {
    border: 1px solid #888888;
}

table.local-ranking, table.local-ranking th, table.local-ranking td {
    font-size: 1em;
    text-align: center;
    padding: 4px 2px 4px 2px
}

table.local-ranking td.no-border {
    font-size: 0.5em;
    text-align: center;
    border: none;
    color: #999;
}

a {
  text-decoration: none;
  color: #009;
  cursor: pointer;
}

a:hover, a:active {
  text-decoration: underline;
  color: #009;
}

div.rival-input {
  padding-top: 3px;
  padding-bottom: 6px;
}

input.rival-aojid {
  height: 1rem;
  padding: 3px 6px;
  border-radius: .25rem;
}

/* problem table */
table.problem-table {
    border-collapse: collapse;
    width: 100%;
}

table.problem-table th, table.problem-table td {
    border: 1px solid #888888;
}

table.problem-table th, table.problem-table td {
    font-size: 1em;
    padding: 4px 7px 4px 7px;
}

table.problem-table th {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    background-color: #505050;
    color: #eeeeee;
}

table.problem-table td {
    color: #111111;
}

table.problem-table tr.solved {
    background-color: rgb(154, 213, 158);
}

table.problem-table tr.not-archived {
    background-color: #bbbbbb;
}

table.problem-table tr.rivals-only {
    background-color: #ffcccc;
}

table.problem-table td.separator {
    background-color: #ffffff;
    height: 6px;
    border-left: none;
    border-right: none;
}

table.problem-table tr td a.liked {
    color: rgb(249, 24, 128);
}

/* user page */
div.container h1.user-header {
  margin: 0;
}

/* user page */
div.pager a.selected {
  font-weight: bold;
}
