{% from "problems/macros.html" import point_decor with context %}
<table class="local-ranking">
  <tr>
    <th>#</th>
    <th>ID</th>
    <th>POINTS</th>
    <th>SOLVED</th>
    {% for point in points %}
    <th>{{ point_decor(point) | trim }}{{ point }}</th>
    {% endfor %}
  </tr>
  <tr>
    <td></th>
    <td>TOTAL</td>
    <td>999990</td>
    <td>214</td>
    <td>14</td>
    <td>13</td>
    <td>12</td>
    <td>11</td>
  </tr>
  <tr>
    <td></td>
    <td>
      <label>
      &#x2795;
      <input class="aojid"
             type="text"
             placeholder="Rival's AOJ ID"
             id="rival_aoj_userid"
             value="">
      </label>
    </td>
  </tr>
</table>
