{% from "problems/macros.html" import point_decor with context %}
<table class="local-ranking">
  <tr>
    <td class="no-border"></td>
    <td class="no-border"></td>
    <td class="no-border"></td>
    <td class="no-border"></td>
    {% for point in points %}
    <td class="no-border">{% if level_lower <= loop.index %}&#x25BC;{% endif %}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>#</th>
    <th>ID</th>
    <th>POINTS</th>
    <th>SOLVED</th>
    {% for point in points %}
    <th><a href="{{ url_for('problems') }}?level_lower_{{ preference.contest_type }}={{ loop.index }}" class="select-level-lower">{{ point_decor(point) | trim }}{{ point }}</a></th>
    {% endfor %}
  </tr>
  <tr>
    <td></th>
    <td>TOTAL</td>
    <td>{{ total_row.total_point }}</td>
    <td>{{ total_row.total_solved }}</td>
    {% for count in total_row.solved_counts %}
    <td>{{ count }}</td>
    {% endfor %}
  </tr>
  <tr>
    <td></td>
    <td>
      <label>
      &#x2795;
      <input class="aojid"
             type="text"
             placeholder="Rival's AOJ ID"
             id="rival_aoj_userid"
             value="">
      </label>
    </td>
  </tr>
</table>
