<table class="local-ranking">
  <tr>
    <th>#</th>
    <th>ID</th>
    <th>POINTS</th>
    <th>SOLVED</th>
    <th>20</th>
    <th>30</th>
    <th>50</th>
    <th>80</th>
  </tr>
  <tr>
    <th></th>
    <th>TOTAL</th>
    <th>999990</th>
    <th>214</th>
    <th>14</th>
    <th>13</th>
    <th>12</th>
    <th>11</th>
  </tr>
  <tr>
    <th></th>
    <th>
      &#x2795;
      <input class="aojid"
             type="text"
             placeholder="Rival's AOJ ID"
             name="rival_aoj_userid"
             value="">
    </th>
  </tr>
</table>
