{% macro point_decor(point) -%}
{% if point == 20 %}&#x26ab;{% endif %}
{% if point == 30 %}&#x1f7e4;{% endif %}
{% if point == 50 %}&#x1f7e2;{% endif %}
{% if point == 80 %}&#x1f7e2;{% endif %}
{% if point == 130 %}&#x1f4a7;{% endif %}
{% if point == 210 %}&#x1f4a7;{% endif %}
{% if point == 340 %}&#x1f535;{% endif %}
{% if point == 550 %}&#x1f535;{% endif %}
{% if point == 890 %}&#x1f7e1;{% endif %}
{% if point == 1440 %}&#x1f7e0;{% endif %}
{% if point == 2330 %}&#x1f534;{% endif %}
{% if point == 200 %}&#x1f4a7;{% endif %}
{% if point == 300 %}&#x1f535;{% endif %}
{% if point == 500 %}&#x1f535;{% endif %}
{% if point == 800 %}&#x1f7e1;{% endif %}
{% if point == 1300 %}&#x1f7e1;{% endif %}
{% if point == 2100 %}&#x1f7e0;{% endif %}
{% if point == 3400 %}&#x1f7e0;{% endif %}
{% if point == 5500 %}&#x1f534;{% endif %}
{% if point == 8900 %}&#x1f534;{% endif %}
{%- endmacro %}
