<div class="preference">
  <ul class="nav-preference">
    <li class="menu">
      <input class="aojid"
             type="text"
             placeholder="AOJ ID"
             id="aoj_userid"
             value="{{ preference.aoj_userid }}"
             {% if disable_preference_form is defined %}disabled{% endif %}>
      <input type="hidden" id="contest_type" value="{{ preference.contest_type }}"/>
    </li>

    <li class="menu">
      <div class="button-container">
        <button class="contest-type-switcher {{ 'selected' if preference.contest_type == 0 else '' }}" id="contest_type_0">&#x1f5fe;Domestic</button>
        <button class="contest-type-switcher {{ 'selected' if preference.contest_type == 1 else '' }}" id="contest_type_1">&#x1f30f;Regional</button>
      </div>
    </li>

    <li class="menu">
      <label>
        <input type="checkbox" id="ja" {{ 'checked' if preference.ja else '' }} {% if disable_preference_form is defined %}disabled{% endif %}>&#x1f338;Japanese</input>
      </label>
    </li>
    <li class="menu">
      <label>
        <input type="checkbox" id="en" {{ 'checked' if preference.en else '' }} {% if disable_preference_form is defined %}disabled{% endif %}>&#x1f310;English</input>
      </label>
    </li>
    <li class="menu">
      <label>
        <input type="checkbox" id="hide_solved" {{ 'checked' if preference.hide_solved else '' }} {% if disable_preference_form is defined %}disabled{% endif %}>Hide solved</input>
      </label>
    </li>
  </ul>
</div>

{% for c in (0, 1) %}
<input type="hidden" id="level_lower_{{ c }}" value="{{ preference.level_scopes[c] }}"/>
{% endfor %}
