<div class="preference-upper">
  <input class="aojid"
         type="text"
         placeholder="AOJ ID"
         name="aoj_userid"
         tabindex="66"
         value="">
  <button class="contest-type-switcher" type="button">&#x1f5fe;Domestic</button>
  <button class="contest-type-switcher" type="button">&#x1f30f;Regional</button>
</div>
<div class="preference-lower">
  <label>
    <input type="checkbox" checked>&#x1f338;Japanese</input>
  </label>
  <label>
    <input type="checkbox" checked>&#x1f310;English</input>
  </label>
  <label>
    <input type="checkbox">Hide solved</input>
  </label>
  <label>
    <select class="point-scope" name="point-lower">
      <option selected>20</option>
    </select>
    &#x2012;
    <select class="point-scope" name="point-lower">
      <option selected>6700</option>
    </select>
  </label>
</div>
