{% from "problems/macros.html" import point_decor with context %}

<table class="problem-table">
  <thead>
    <tr>
      <th>POINT</th>
      <th>LIKES</th>
      <th>PROBLEM</th>
      <th>STATISTICS</th>
    </tr>
  </thead>
  <tbody>
    {% for problem in problems %}
    <tr>
      <td>{{ point_decor(points[problem.level - 1]) | trim }}{{ points[problem.level - 1] }}</td>
      <td>&#x1f90d;{{ problem.likes }}</td>
      <td>{% if problem.ja %}&#x1f338;{% endif %}{% if problem.en %}&#x1f310;{% endif %}{{ problem.name }}</td>
      <td>&#x1f4ca;{{ problem.org }} {{ problem.year }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
