<table class="problem-table">
  <thead>
    <tr>
      <th>POINT</th>
      <th>LIKES</th>
      <th>PROBLEM</th>
      <th>CONTEST</th>
      <th>STAT</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>20</td>
      <td>&#x1f90d; 0</td>
      <td>&#x1f338;&#x1f310;ICPC Score Totalizer Software</td>
      <td>Official 2007</td>
      <td>&#x1f4ca;</td>
    </tr>
    <tr>
      <td>890</td>
      <td>&#x1f90d; 5</td>
      <td>&#x1f338;Mr. Rito Post Office</td>
      <td>JAG 2010</td>
      <td>&#x1f4ca;</td>
    </tr>
  </tbody>
</table>
