{% from "problems/macros.html" import point_decor with context %}

<table class="problem-table">
  <thead>
    <tr>
      <th>Point</th>
      <th>Likes</th>
      <th>Problem</th>
      <th>Statistics</th>
    </tr>
  </thead>
  <tbody>
    {% for problem in problems %}
    <tr {% if problem.aoj_id in user_solved_problems %}class="solved"{% endif %}>
      <td><a href="{{ url_for('problems') }}?level_lower_{{ preference.contest_type }}={{ problem.level }}">{{ point_decor(points[problem.level - 1]) | trim }}{{ points[problem.level - 1] }}</a></td>
      <td>
        <a {% if github_login_info is none %}href="#TODO"{% else %}href="javascript:void(0);" onclick="onClickLike({{ problem.aoj_id }});" {% endif %}}
          id="like-a-{{ problem.aoj_id }}" {% if problem.aoj_id in user_likes %}class="liked"{% endif %}>
          {% if problem.aoj_id in user_likes %}&#x1f497;{% else %}&#x1f90d;{% endif %}{{ problem.likes }}
        </a>
        <input type="hidden" id="like-{{problem.aoj_id}}" value="{{ 1 if problem.aoj_id in user_likes else 0 }}">
      </td>
      <td><a href="https://onlinejudge.u-aizu.ac.jp/problems/{{ problem.aoj_id }}" target="_blank">{% if problem.ja %}&#x1f338;{% endif %}{% if problem.en %}&#x1f310;{% endif %}{{ problem.name }}</a></td>
      <td><a href="{{ url_for('statistics', aoj_id=problem.aoj_id) }}">&#x1f4ca;{{ problem.org }} {{ problem.year }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
