<!DOCTYPE html>
<html>
  <head>
    <title>ICPC Japan Problems</title>
    <meta name="viewport" content="width=1024">
    <link href="{{ url_for('static', path='css/styles.css') }}" rel="stylesheet" media="screen">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', path='favicon/site.webmanifest') }}">
  </head>
  <body>
