<nav class="navbar">
  <div class="brand">
    <a href="{{ url_for('problems') }}">ICPC Japan Problems</a>
    <div class="lines-container">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <ul class="nav">
    <li class="menu"><a href="{{ url_for('problems') }}">Problems</a></li>
    <li class="menu"><a href="{{ url_for('global_ranking') }}">Ranking</a></li>
    <li class="menu"><a target="_blank" href="https://github.com/ir5/icpc-japan-problems/blob/main/doc/about.md">About</a></li>
    <li class="menu">
      <div class="dropdown">
        <a>Feedback&#9660;</a>
        <div class="dropdown-content">
          <a target="_blank" href="https://twitter.com/intent/post?text=%23ICPCJapanProblems">Tweet</a>
          <a target="_blank" href="https://github.com/ir5/icpc-japan-problems/issues">GitHub Issues</a>
        </div>
      </div>
    </li>
    <li class="menu">
      <div class="dropdown">
        <a>Links&#9660;</a>
        <div class="dropdown-content">
          <a target="_blank" href="https://icpc.iisf.or.jp/">ICPC Japan Official</a>
          <a target="_blank" href="https://jag-icpc.org/">ICPC Japanese Alumni Group</a>
          <a target="_blank" href="https://onlinejudge.u-aizu.ac.jp/">Aizu Online Judge</a>
          <a target="_blank" href="https://kenkoooo.com/atcoder/">AtCoder Problems</a>
          <a target="_blank" href="https://joi.goodbaton.com/">AOJ/AtCoder-JOI</a>
        </div>
      </div>
    </li>
  </ul>
  <div class="nav">
    {% if github_login_info is none %}
    <a href="https://github.com/login/oauth/authorize?client_id={{ github_app_client_id }}&redirect_uri={{ url_for('github_callback') | urlencode | replace('/', '%2F') }}">Login</a>
    {% else %}
    <a>Account({{ github_login_info.login }})</a>
    {% endif %}
  </div>
</nav>
